body {
	background-image: URL("hosizora2.gif");
	color: black;
	font-family: Georgia, serif;
	font-size: 120%;
}

#inner {
	background-color: #050005;
	border-style: double;
	border-color: #effea9;
	border-width: .3em;
	margin: auto;
	max-width: 60em;
	height: 80vh;
	color: #effea9;
}

#main {
	margin-left: 17em;
}

h1 {
	text-align: center;
	font-size: 1.3em;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 2px 3px grey;
}

p {
	font-size: 1em;
	color: white;
	text-align: center;
	height: 1.5em;
	border-top: dashed;
	border-bottom: dashed;
	border-width: 1px;
	border-color: #effea9;
	font-family: Georgia, serif;
}

#sidebar {
	background-color: #200020;
	float: right;
	width: 80%;
	height: inherit;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	border-left: solid;
	border-width: .1em;
}

button {
	background-color: #050005;
	width: 20%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: darkslategrey; /* Green */
}