<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>TECHNOMANCER</h1>
		<p>
			Technomancers exploit the merging of magic with technology that’s made possible by the Technomancy tradition to create even more powerful devices to aid them on their expeditions. With a few moments of work, they can fashion useful inventions to help them perform certain activities and can eventually create automata from ordinary objects.
		</p>
		<h3>LEVEL 7 TECHNOMANCER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Technomancy tradition or learn one Technomancy spell.
		</p>
		<p>
			<b>Invention</b> When you cast a Technomancy spell, you also create a device you can hold in one hand that’s imbued with magical power that lasts until you expend it or until you complete a rest. When you make an attack roll or a challenge roll, you can expend the power from the device to make the roll with 1 boon.
		</p>
		<h3>LEVEL 10 TECHNOMANCER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Animate Object</b> You can use an action and expend a casting of a Rank 1 spell to animate a Size 2 or smaller object within short range. The target becomes a compelled construct of its Size for the duration. If the target was secured, its Speed is 0.
		</p>
		<h1>TENEBRIST</h1>
		<h1>THAUMATURGE</h1>
		<h1>THEURGE</h1>
		<h1>TRANSMUTER</h1>
		<h1>TRAVELER</h1>
		<h1>WOODWOSE</h1>
	</body>
</html>
