<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>ACROBAT</h1>
		<p>
			Acrobats include all manner of adventuresome types, from cat burglars to performers who delight crowds with rolls, tumbles, and other acrobatic stunts. Acrobats train to master their movements, build speed, and outmaneuver their opponents. The results of all their practice is the ability to move unfettered, whether scrambling up a wall, somersaulting over an enemy’s head, or moving like water across the most difficult terrain.
		</p>
		<h3>LEVEL 7 ACROBAT</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +3, Speed +2<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Acrobatics</b> You gain all of the following benefits:
		</p>
		<ul>
			<li>You can move through spaces occupied by other creatures.</li>
			<li>You move at full Speed across all forms of difficult terrain, even when climbing or swimming.</li>
			<li>Provided your Speed is greater than 0, you can stand up without using your move.</li>
			<li>When you take damage from landing after a fall, you can use a triggered action to make an Agility challenge roll. On a success, you reduce the damage from the fall by the total of your roll. If you reduce the damage to 0, you land on your feet.</li>
		</ul>
		<h3>LEVEL 10 ACROBAT</h3>
		<p>
			<b>Characteristics</b> Health +3<br/>
		</p>
		<p>
			<b>Mobility</b> You can move up to your speed as a minor activity. Your movement, on any turn, never triggers free attacks.
		</p>
		<h1>AVENGER</h1>
		<h1>BLACKGUARD</h1>
		<h1>BLADE</h1>
		<h1>BRUTE</h1>
		<h1>CAVALIER</h1>
		<h1>CHAMPION</h1>
		<h1>CHAPLAIN</h1>
		<h1>CONQUEROR</h1>
		<h1>COURSAIR</h1>
	</body>
</html>
