<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>DEATH DEALER</h1>
		<p>
			Death dealers favor heavy, cumbersome weapons for the carnage they can create. Whether they are hefting a weighty warhammer or sweeping with a greatsword, their swings and strikes send limbs flying as they carve a bloody swath through their enemies. The great strength required to wield these weapons typically means death dealers come from martial backgrounds, likely beginning their careers as warriors or battle-focused priests.
		</p>
		<h3>LEVEL 7 DEATH DEALER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +6<br/>
		</p>
		<p>
			<b>Brutal Swing</b> When you incapacitate a creature with an attack using a slow weapon, you can use a triggered action to attack with the same weapon at any point before the end of your turn.
		</p>
		<h3>LEVEL 10 DEATH DEALER</h3>
		<p>
			<b>Characteristics</b> Health +6<br/>
		</p>
		<p>
			<b>Make Mountains of the Dead</b> You can use an action to sweep your heavy weapon around you in a lethal arc. Choose any number of target creatures within 1 yard of you. A target with Health 20 or less takes damage equal to its Health.
		</p>
		<h1>DEFENDER</h1>
		<h1>DERVISH</h1>
		<h1>DIPLOMAT</h1>
		<h1>DREADNAUGHT</h1>
		<h1>DUELIST</h1>
	</body>
</html>
