<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>JACK-OF-ALL-TRADES</h1>
		<p>
			Ever dabblers, jacks-of-all-trades know a little about everything but not a lot about any one thing. A path attractive to tricksters and adventurers, its talents help them find solutions to almost any problem and find a way to succeed when they should fail.
		</p>
		<h3>LEVEL 7 JACK-OF-ALL-TRADES</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +3<br/>
			<b>Languages and Professions</b> Add two professions.<br/>
		</p>
		<p>
			<b>Aptitude</b> You have a number of aptitude points equal to your group’s level. When you make an attack roll or challenge roll, you can spend 1 point from this talent to make the roll with 2 boons. Whenever you roll two 6s on one roll of boon dice, you gain 1 aptitude point, up to your maximum. You replenish your aptitude points when you complete a rest.
		</p>
		<p>
			<b>Flexible Profession</b> When you perform a task related to a profession you do not have, you can make an Intellect challenge roll. On a success, you are considered to have the profession for 1 minute. On a failure, you can’t use this talent again until after you complete a rest.
		</p>
		<p>
			<b>Magical Epiphany</b> When you see a creature cast a rank 0 spell that you have not learned, you can spend 1 aptitude point to learn that spell, gaining a number of castings of the spell equal to your Power. You retain knowledge of the spell until you complete a rest or expend the last casting of it.
		</p>
		<h3>LEVEL 10 JACK-OF-ALL-TRADES</h3>
		<p>
			<b>Characteristics</b> Health +3<br/>
		</p>
		<p>
			<b>Prodigy</b> When you complete a rest, increase one of your attributes by 1. The increase lasts until you use this talent again.
		</p>
		<p>
			<b>Uncommon Ability</b> You treat any roll of 1 on boons as if you had rolled a 3. You treat any roll of 6 on banes as if you had rolled a 3.
		</p>
		<h1>MARAUDER</h1>
		<h1>MARTIAL ARTIST</h1>
		<h1>MIRACLE WORKER</h1>
		<h1>MYRMIDON</h1>
		<h1>POISONER</h1>
		<h1>REAVER</h1>
	</body>
</html>
