body {
	background-color: #203020;
	font-size: 2em;
	color: white;
}

p::-webkit-scrollbar {
    width: 1em;
}
 
p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
p::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

p {
	background-color: black;
	border-top-style: solid;
	border-color: #203020;
	border-width: 1px;
	padding: 0;
	margin: 0;
}

#head, #scr, #loc {
	float: top;
	background-color: rgb(15,15,15);
	border-width: 0px;
}

#loc {
	float: right;
}

#text {
	height: 85%;
	overflow-y: scroll;
}

.usr {
	color: green;
}

input {
	background-color: black;
	width: 100%;
	top: 90vh;
	font-size: 5vh;
	background-color: darkslategrey;
	color: white;
}